{% extends "bookStoreMainPage.html" %}
{% block content %}
{% include "bookStoreHeader.html" %}
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Book Store</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newBookCategory')}}">
				<button class="btn btn-default" id="new-bookCategory">
					<span class="glyphicon glyphicon-file" aria-hidden="true"></span>Add Book Category
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for bookCategory in bookCategories %}
		<a href = "{{url_for('showBooks', bookCategory_id = bookCategory.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 bookCategory-list">
						<h3>{{bookCategory.name}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}